name: Refresh
on: workflow_dispatch
jobs:
  download:
    name: downloader
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.6"

      - name: Install Project
        run: uv sync --locked --all-extras --dev

      - name: Download CSV
        run: sh download.sh

      - name: Generate JSON
        run: uv run main.py

      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          add: "."
          author_name: Eric03742
          author_email: eric03742@foxmail.com
          message: "commit data."
          push: true
